@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Muli);

a{
	color: #31A4FF;
}

#header{
    position: relative;
    height: 55vh;
    background-image: url("../img/15638897400_1421bcbf5a_h.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
}

#title{
    position: absolute;
    left: 20px;
    bottom: 5px;
    font-family: 'Poiret One', cursive;
    font-size: 5em;
    text-shadow: 3px 3px 3px #000;
    color: white;
}

#photo-attribution{
	bottom: 2px;
	position: absolute;
	right: 2px;
}
#photo-attribution a{
	color: #fff;
	background-color: #000;
	font-size: 12px;
	font-family: 'Muli', sans-serif;
	opacity: 0.75;
	padding: 1px;
}

#mapview{
	height: 600px;
}

table tbody tr td{
    font-size: 18px;
}

#dochi {
	font-size: 2em;
}
