<meta charset="utf-8">
<meta name="google-signin-client_id" content="235743567756-mj85lrhm0i2957423h9c0ekvil9olqkn.apps.googleusercontent.com">
<title>Innorz's Restaurants Map</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
