<meta charset="utf-8">
<meta name="google-signin-client_id" content="235743567756-mj85lrhm0i2957423h9c0ekvil9olqkn.apps.googleusercontent.com">
<title>Innorz's Restaurants Map</title>
<link rel="stylesheet" href="stylesheets/bootstrap_3.3.6_css_bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
